<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile Page</title>
</head>

<body>
<nav>
    <a href="/">Home</a>
    <a href="login.html">Login</a>
</nav>
<div>
    <form method="POST">
        <input id="full_name" name="full_name" type="text" placeholder="Full Name">

        <input name="contact_email" id="contact_email" type="email" placeholder="Contact Email">

        <input name="address" id="address" type="text" placeholder="Address">

        <input name="phone" id="phone" type="tel" placeholder="Phone">

        <button type="submit">Save Profile</button>
    </form>
</div>

</body>

</html>