<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register Page</title>
</head>

<body>
<nav>
    <a href="/">Home</a>
    <a href="login.html">Login</a>
</nav>
<div>
    <form method="POST">
        <input name="email" id="email" type="email" placeholder="Email">

        <input name="password" id="password" type="password" placeholder="Password">

        <button type="submit">Register</button>
    </form>
</div>
</body>

</html>